{% from "_footerhelper.html" import footer %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="Robots" content="all">
<meta http-equiv="cache-control" content="no-cache">
<meta content="telephone=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<title>美食专区</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../static/css/m_center.css">
    <link rel="stylesheet" href="../static/css/img_style.css">
    <link rel="stylesheet" href="../static/css/productxq1.css">
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/modal.js"></script>
</head>

<body>
<div>
    <div id="banner">
        <div id="banner_bg"></div> <!--标题背景-->
        <div id="banner_info"></div> <!--标题-->
        <ul>
            <li class="on">1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <div id="banner_list">
            <a href="#" target="_blank"><img class="img-responsive"
                                             src="../static/images/showimg1.jpg" title="" alt="新品上架"/></a>
            <a href="#" target="_blank"><img class="img-responsive"
                                             src="../static/images/showimg2.jpg" title="" alt="美味无法阻挡"/></a>
            <a href="#" target="_blank"><img class="img-responsive"
                                             src="../static/images/showimg3.jpg" title="" alt="甜甜的幸福感"/></a>
        </div>
    </div>
    <!--<header>-->
    	<!--<div class="form-group s_header row" >-->
        	 <!--<nav>-->
                <!--<div class="on"><a style="color:#454545;">全部</a></div>-->
                <!--<div><a>洗护</a></div>-->
                <!--<div><a>营养</a></div>-->
                <!--<div><a>辅食/奶粉</a></div>-->
             <!--</nav>-->
        <!--</div>-->
    <!--</header>-->
    <div style="position: relative; background: bisque; z-index: 1">
        <p id="top" align="center" style="margin-top: 0px; height:50px; line-height: 50px;">——热销商品——</p>
    </div>
    <div class="form-group s_product" style="margin-bottom: 100px">
        <div class="form-group" data-role="content">
            <div class="row content" data-role="listview" id="contentList">
                {% for i in range(food_list.__len__()) %}
                <div class="col-xs-6">
                    <a href="#" data-ajax="false">
                        <img src="{{ food_list[i].image }}"/>
                        <p class="s_wen">{{ food_list[i].name }}</p>
                        <p class="s_wen">下单量: {{ food_list[i].order_count }}</p>
                    </a>
                    {% if food_list[i].is_discount %}
                    <p class="s_jiage">￥{{ food_list[i].discount_price
                        }}<span><span>  ￥{{ food_list[i].fixed_price }}</span><img
                                src="../static/images/s_buy.png"/></span></p>
                    {% else %}
                    <p class="s_jiage">{{ food_list[i].fixed_price }}<span><img
                            src="../static/images/s_buy.png"/></span></p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
</body>
{{footer()}}
<script type="text/javascript">
    var t = n = 0, count;
    $(document).ready(function () {
        count = $("#banner_list a").length;
        $("#banner_list a:not(:first-child)").hide();
        $("#banner_info").html($("#banner_list a:first-child").find("img").attr('alt'));
        $("#banner_info").click(function () {
            window.open($("#banner_list a:first-child").attr('href'), "_blank")
        });
        $("#banner li").click(function () {
            var i = $(this).text() - 1; //获取Li元素内的值，即1，2，3，4
            n = i;
            if (i >= count) return;
            $("#banner_info").html($("#banner_list a").eq(i).find("img").attr('alt'));
            $("#banner_info").unbind().click(function () {
                window.open($("#banner_list a").eq(i).attr('href'), "_blank")
            })
            $("#banner_list a").filter(":visible").fadeOut(500).parent().children().eq(i).fadeIn(1000);
            document.getElementById("banner").style.background = "";
            $(this).toggleClass("on");
            $(this).siblings().removeAttr("class");
        });
        t = setInterval("showAuto()", 2000);
        $("#banner").hover(function () {
            clearInterval(t)
        }, function () {
            t = setInterval("showAuto()", 2000);
        });
    })

    function showAuto() {
        n = n >= (count - 1) ? 0 : ++n;
        $("#banner li").eq(n).trigger('click');
    }

    $.fn.smartFloat = function () {
        var position = function (element) {
            console.log(element)
            var top = element.position().top, pos = element.css("position");
            $(window).scroll(function () {
                var scrolls = $(this).scrollTop();
                console.log(top)
                if (scrolls > 200) { //如果滚动到页面超出了当前元素element的相对页面顶部的高度
                    $("#top").css({
                        "position": "absolute",
                        "width": "100%",
                        "height": "50px",
                        "line-height": "50px",
                        "margin-top": "0px",
                        "background": "bisque"
                    })
                    if (window.XMLHttpRequest) { //如果不是ie6
                        element.css({
                            position: "fixed",
                            top: 0
                        }).addClass("shadow");
                    } else { //如果是ie6
                        element.css({
                            top: scrolls
                        });
                    }
                } else {

                    element.css({
                        position: pos,
                        top: top
                    }).removeClass("shadow");
                }
            });
        };
        return $(this).each(function () {
            position($(this));
        });
    };
    $(function () {
        $("#tip").smartFloat();
        $("#top").smartFloat();
    });
</script>
</html>